@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

body {
  background-color: #f7f8ff;
  line-height: 1.75;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
}

markdown,
pre {
  pre[class*="language-"] {
    font-size: 0.9rem;
    background-color: #272822;
    padding: 12px;

    @media screen and (max-width: 500px) {
      margin: 0 -12px;
      border-radius: 0;
    }
  }

  table {
    margin: 0 auto;
  }

  table {
    color: #333;
    background: white;
    border: 1px solid grey;
    font-size: 12pt;
    border-collapse: collapse;
  }

  table thead th,
  table tfoot th {
    color: #777;
    background: rgba(0, 0, 0, 0.1);
  }

  table caption {
    padding: 0.5em;
  }

  table th,
  table td {
    padding: 0.5em;
    border: 1px solid lightgrey;
  }

  img {
    max-width: 100%;
  }

  code:not([class]) {
    color: #da892d;
    border: 1px solid #434548;
    background-color: #2a2d30;
    border-radius: 3px;
    padding: 1px 4px;
  }
}

blog-navbar {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1001;

  header {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 16px;
    white-space: nowrap;
    background: #3f51b5;
    font: 500 20px/32px Poppins;
    letter-spacing: normal;
    margin: 0;
    height: 64px;

    .links {
      display: flex;
      align-items: center;
      gap: 1rem;

      .posts,
      .about,
      .resume,
      .shield-maker {
        @media screen and (max-width: 700px) {
          display: none;
        }
      }

      a {
        text-decoration: none;
        color: #ffffff;

        &:hover {
          opacity: 0.8;
        }

        img {
          position: relative;
          top: 3px;
          aspect-ratio: 1;
          width: 30px;
          filter: contrast(0) brightness(2);
        }
      }
    }
  }
}

html,
body {
  height: 100%;
}

body {
  --background-color: rgba(0, 0, 255, 0.03);
  --background-color-accent: transparent;
  --background-grid-length: 5px;
  --background-grid-degree: 45deg;

  margin: 0;
  padding-top: 64px;
  height: calc(100% - 64px);
  background: repeating-linear-gradient(
      calc(-1 * var(--background-grid-degree)),
      var(--background-color),
      var(--background-color-accent) var(--background-grid-length)
    ),
    repeating-linear-gradient(
      var(--background-grid-degree),
      var(--background-color),
      var(--background-color-accent) var(--background-grid-length)
    );
}

hello-world,
.hello-world {
  display: block;
  height: 200px;
  width: 100%;
}
