<div *ngIf="isBrowser" class="author-name" aria-label="Aleksander Bodurri">
  <img src="assets/angular.svg" alt="The Angular logo." />
  <div class="partial-name">
    <h1
      aria-label="The name Aleksander Bodurri but with the A missing. The Angular Logo in the previous line acts as the A"
    >
      leksander Bodurri
    </h1>
  </div>
</div>
<div class="author-name-block"></div>
<section>
  <aside>
    <figure>
      <picture>
        <source srcset="assets/alex-compressed.webp" type="image/webp" />
        <source srcset="assets/alex-hq-small.webp" type="image/webp" />
        <source srcset="assets/alex.png" type="image/png" />
        <img
          width="208"
          height="224"
          fetchpriority="high"
          class="author"
          alt="A picture of Alex Bodurri"
        />
      </picture>
      <hr />
      <figcaption>Angular Team Member</figcaption>
      <hr />
      <figcaption>Developer - Verto Health</figcaption>
      <hr />
    </figure>
  </aside>
  <article>
    <ul class="posts">
      <li>
        <blog-post-card [post]="posts[0]"></blog-post-card>
      </li>
    </ul>
    <ul class="blog-links">
      <li><a routerLink="posts">Posts</a></li>
      <!-- <li><a routerLink="about">About</a></li> -->
      <li><a routerLink="shield-maker">Shield Maker</a></li>
    </ul>
  </article>
</section>
