section {
  display: flex;
  width: 75%;
  height: 100%;
  max-width: 1000px;
  align-items: center;
  margin: auto;
  justify-content: center;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }

  aside {
    width: 280px;
  }

  article {
    width: 100%;

    .posts {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin: 0;

      @media screen and (max-width: 700px) {
        padding: 0;
        display: none;
      }
    }

    .blog-links {
      @media screen and (min-width: 700px) {
        display: none;
      }

      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      padding: 0;
      font-size: 1.5rem;

      a {
        text-decoration: none;
        color: #4da1ff;
      }
    }
  }
}

figure {
  width: 208px;
  border-radius: 8px;
  padding: 1rem;
  margin: 0;

  @media screen and (max-width: 700px) {
    display: none;
  }

  figcaption {
    font-size: 0.75rem;
    text-align: center;
  }

  .author {
    width: 200px;
    padding: 4px 4px 0;

    &.no-quality {
      filter: brightness(0);
    }

    @media screen and (max-width: 800px) {
      display: none;
    }
  }
}

$author-name-height: 40px;
$author-name-margin: 65px;

.author-name-block {
  height: $author-name-height;
  margin: $author-name-margin 0;
}

.author-name {
  display: block;
  height: cacl($author-name-height + $author-name-margin);
  position: absolute;
  width: 100%;
  text-align: center;

  @media screen and (max-width: 1000px) {
    .partial-name {
      h1 {
        font-size: 1rem;
      }
    }
  }

  @media screen and (max-height: 600px) {
    display: none;
  }

  @keyframes big {
    from {
      transform: scale(1) rotateY(0deg);
    }

    50% {
      transform: scale(1.75) rotateY(180deg);
    }

    to {
      transform: scale(1) rotateY(360deg);
    }
  }

  --slide-width: 544px;

  @media (max-width: 1000px) {
    --slide-width: 146px;
  }

  @keyframes slide-in {
    from {
      width: 0px;
    }

    50% {
      width: 0px;
    }

    to {
      width: var(--slide-width);
    }
  }

  .partial-name {
    display: inline-flex;
    position: relative;
    bottom: 26px;
    height: 100px;
    align-items: center;
    overflow: hidden;
  }

  img#animated-logo {
    display: inline-block;
    width: 100px;
    aspect-ratio: 1;
    position: relative;
    z-index: 1000;
    left: 24px;

    @media screen and (max-width: 1000px) {
      width: 60px;
      left: 8px;
    }
  }

  h1 {
    display: inline-block;
    font-size: 4rem;
    margin: 0;
    white-space: pre;
  }
}

:host {
  display: block;
  height: calc(100% - 100px);
}

.hidden-image {
  display: none;
}
