<div *ngIf="isBrowser" class="author-name" aria-label="Aleksander Bodurri">
  <img src="assets/angular.svg" alt="The Angular logo." />
  <div class="partial-name">
    <h1
      aria-label="The name Aleksander Bodurri but with the A missing. The Angular Logo in the previous line acts as the A"
    >
      leksander Bodurri
    </h1>
  </div>
</div>
<section>
  <aside>
    <figure>
      <picture>
        <source srcset="assets/alex.webp" type="image/webp" />
        <source srcset="assets/alex.png" type="image/jpeg" />
        <img
          fetchpriority="high"
          class="author"
          src="assets/alex.png"
          alt="A picture of Alex Bodurri"
        />
      </picture>
      <hr />
      <figcaption>Angular Team Member</figcaption>
      <hr />
      <figcaption>Developer - Verto Health</figcaption>
      <hr />
    </figure>
  </aside>
  <article>
    <ul class="posts">
      <li>
        <blog-post-card [post]="posts[0]"></blog-post-card>
      </li>
    </ul>
    <ul class="blog-links">
      <li><a routerLink="posts">Posts</a></li>
      <li><a routerLink="about">About</a></li>
      <li><a target="_blank" href="assets/resume/index.html">Resume</a></li>
    </ul>
  </article>
</section>
