:host {
  display: block;
  max-width: 800px;
  margin: 2rem auto 0;

  @media screen and (max-width: 500px) {
    max-width: calc(100% - 24px);
  }
}

pre.server-rendered {
  all: unset;

  ::ng-deep {
    pre {
      background-color: #272822;
      padding: 12px;
      border-radius: 0.3rem;
      @media screen and (max-width: 500px) {
        margin: 0 -12px;
        border-radius: 0;
      }

      pre {
        padding: 1em;
        margin: 0.5em 0;
        overflow: auto;
        border-radius: 0.3em;
      }

      code[class*="language-"] {
        font-size: 0.9rem;
        color: #5ab9ca;
        background: none;
        text-shadow: 0 1px rgb(0 0 0 / 30%);
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        tab-size: 4;
        -webkit-hyphens: none;
        hyphens: none;
      }
    }
  }
}
